body {
    margin: 0;
    font-family: "Liberation Sans";
    background: #333;
    color: #eee;
}

.controls {
    max-height: 180px;
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 14px;
}

.controls > div {
    margin: 1em;
    flex: 1;
    overflow: auto;
}

.controls > div.meta {
    flex: 0.5 1;
}

.controls h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0;
    opacity: 0.7;
    display: inline-block;
}

.controls p {
    margin: 0.3em 0;
}

.controls input[type=number] {
    width: 4em;
}

.scene {
    /* -webkit-app-region: drag; */
    width: 1280px;
    height: 720px;
    background: magenta;
    position: relative;
}

.nowplaying {
    font-size: 1.5em;
    position: absolute;
    bottom: 3em; left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nowplaying p {
    margin: 0 0;
    background: black;
    color: white;
    padding: .6em;
    padding-left: .4em;
    padding-right: 1em;
    will-change: transform;
    transform: translateX(-100%);
    transition: transform .6s;
    font-weight: bold;
}

.nowplaying p.small {
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: .7em;
}

.nowplaying p.small:first-child { padding-top: .6em; }
.nowplaying p.small:last-child { padding-bottom: .6em; }

.nowplaying p:nth-child(2){ transition-delay: 100ms; }
.nowplaying p:nth-child(3){ transition-delay: 200ms; }
.nowplaying p:nth-child(4){ transition-delay: 300ms; }

.nowplaying.show p {
    transform: translateX(0);
}



.chat {
    position: absolute;
    top:0;
    right: 0;
    height: 720px;
    width: 160px;
    overflow: hidden;
    font-family: roboto;
    font-size: 14px;
}

.chat ul {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.chat li {
    background: black;
    padding: .6em 1em;
    list-style: none;
    animation: hide-chat-line .6s 40s 1 forwards;
}

.chat li.status {
    color: #aaa;
    font-size: .8em;
}


.chat .name, .chat .content {
    display: inline-block;
    margin-top: .2em;
}

.chat .name {
    padding-right: .8em;
}

.message .content {
    font-weight: bold;
}

.message.streamer {
    border-left: 3px solid #F11D58;
}

.message img.smiley, .message img.emoti {
    max-height: 1.75em;
}

.message img {
    max-width: 100%;
}

.message iframe {
    transform: scale(0.5);
    transform-origin: top left;
    margin-bottom: -50%;
}

@keyframes hide-chat-line {
    to { transform: translateX(100%); }
}

#chat-controls .chat-sub {
    display: none;
}

#chat-controls.youtube .chat-sub.youtube,
#chat-controls.hitbox  .chat-sub.hitbox,
#chat-controls.picarto .chat-sub.picarto,
#chat-controls.twitch .chat-sub.twitch,
#chat-controls.demo .chat-sub.demo {
    display: block;
}

#chat-webviews {
    height: 0;
    width: 0;
    overflow: hidden;
}

#chat-webviews webview {
    width: 300px;
    height: 300px;
}


.controls indicator {
    float: left;
    display: block;
    border: 4px solid transparent;
    border-radius: 100%;
    margin: .35em;
}

.controls indicator.stopped {
    border-color: #555;
}

.controls indicator.starting {
    border-left-color: #eee;
    animation: spinner 1s ease-out infinite;
}

.controls indicator.ready {
    border-color: #c5f6ba;
}

.controls indicator.error {
    border-bottom: 8px solid rgb(228, 178, 81);
    border-top: none;
    border-radius: 0;
}

@keyframes spinner {
    to { transform: rotate(1080deg); }
}
