html #chat-tabs {
    display: none;
}

html .chat-main {
    top: 0;
}


.tse-scrollbar {
    opacity: 0;
}

html #chat {
    min-width: 0;
}

html ul.chatBody li:nth-of-type(1){
    margin-top: 1000px;
    opacity: 0;
}

html .chat-input-wrap {
    display: none;
}

html .chat-badge {
    display: none;
}

html .chatBody li:last-child .chat-buffer {
    /* this is the "Last message: x minutes ago" thing that gets appended to
    the last message in the replay you get on connect */
    display: none;
}

html .chat-row1 {
    /* polls, giveaways, sticky messages */
    display: none;
}

html .theme-dark .chat-main {
    background: magenta;
}

html  .chat-fadeout {
    display: none;
}

html .chat-messages.compact li {
    background: black;
    border: none;
    padding: .5em .7em .6em;
}

html .chatBody {
    padding: 0;
    color: white;
    font-size: 12px;
    font-family: roboto;
}

html .chat-status-message {
    opacity: 1;
    font-weight: bold;
}

html .chatBody .title {
    padding: 0;
    display: block;
    opacity: 1;
}

html .chatBody .title .name {
    color: inherit!important;
}

html .chatBody .message {
    font-size: 1.4em;
    font-weight: bold;
}

html .chat-messages li {
    animation: hidecomment .6s 40s 1 forwards;
    will-change: transform;
}

@keyframes hidecomment {
    to { transform: translateX(100%); }
}
