#bottom,
.chat_headding_on,
.chat_headding_off {
    display: none;
}

html .scrollwrapperchat {
    bottom: 0!important; /* i know it's gross but they did it so i have to do it too */
    background: magenta;
}

html #msgs {
    overflow: hidden;
}

html #msgs li {
    animation: hidecomment .6s 45s 1 forwards;
    will-change: transform;
}

@keyframes hidecomment {
    to { transform: translateX(100%); }
}

html #msgs li:first-child {
    margin-top: 1000px;
}

html .drag-handle {
    display: none;
}

html .stricon,
html .premicon,
html .modicon,
html .basicicon,
html .subicon,
html .ptvadminicon {
    display: none;
}

html .msgUsername,
html .msgAdminUsername,
html .msgModUsername {
    color: white!important; /* again, gross */
    font-weight: bold;
    font-family: roboto;
}

html .infoContent {
    width: auto!important; /* ditto */
}

html .msgContentIdentifier {
    display: block!important; /* x( */
    font-size: 1.4em;
    margin: 0;
    font-weight: bold;
    font-family: roboto;
}

html .messageli,
html .messageli:nth-child(odd) {
    background: rgba(0,0,0,0.6);
    border: none;
    padding: .4em .4em .6em;
}
