html .live-chat-page {
    background: magenta;
}

html .live-chat-widget .gaming-promo {
    display: none;
}

html #live-comments-controls {
    display: none;
}

html .live-chat-widget .byline,
html .live-chat-widget .comment-text {
    color: white;
    font-weight: bold;
}

html .live-chat-widget .comment .content {
    margin-left: 0;
}

html .live-chat-widget .avatar {
    display: none;
}

html .live-chat-widget .comment:nth-of-type(1){
    margin-top: 1000px;
}

html .live-chat-widget .comment:nth-of-type(n){
    background: rgba(0,0,0,0.6);
    animation: hidecomment .6s 8s 1 forwards;
    will-change: transform;
}

@keyframes hidecomment {
    to { transform: translateX(100%); }
}

html .live-chat-page .live-chat-widget #comments-scroller {
    padding-top: 0;
    overflow: hidden;
    border-bottom: none;
}

